body {
    font-family: 'Caveat', cursive; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-size: cover;  /* Usé cover para cubrir todo el fondo */
    background-position: center;
    background-image: url('../images/fondo.png');
}

#home {
    width: 100%;
    text-align: center; 
}

.card-container {
    background-color: #ececec; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block; 
    margin: 20px;  /* Añadí un margen para separar del borde de la pantalla */
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#mainVideo {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.loading-message {
    padding: 10px;
    text-align: center;
}

/* Botón "Omitir Intro" */
.card-container button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Caveat', cursive;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.card-container button:hover {
    background-color: #ff7300;
}
